@model IEnumerable<LocalMealManagement.ViewModel.MealModelWithUserNameView>

@{
    double Dinnar = 0, Lunch = 0, Morning = 0;
    var groupByUsername = from s in Model
                          group s by s.IdentityUser.UserName
                          into g
                          select new
                          {
                              UserName = g.Key,
                              Dinnar = g.Sum(x => x.Dinnar),
                              Lunch = g.Sum(x => x.Lunch),
                              Morning = g.Sum(x => x.Morning)
                          };
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Morning</th>
            <th>Dinnar</th>
            <th>Lunch</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var meal in groupByUsername)
        {
            <tr>
                <td>@meal.UserName</td>
                <td>@meal.Morning</td>
                <td>@meal.Dinnar</td>
                <td>@meal.Lunch</td>
            </tr>
            Dinnar += (double)meal.Dinnar;
            Lunch += (double)meal.Lunch;
            Morning += (double)meal.Morning;
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Username</th>
            <th>@Morning</th>
            <th>@Dinnar</th>
            <th>@Lunch</th>
        </tr>
    </tfoot>
</table>
