@model IEnumerable<LocalMealManagement.ViewModel.MealModelWithUserNameView>

@{
    ViewData["Title"] = "SubGroupsAllUsersMeals";
    var groupByUsername = from s in Model
                          group s by s.UserName
                          into g
                          select new
                          {
                              UserName = g.Key,
                              Dinnar = g.Sum(x => x.Dinnar),
                              Lunch = g.Sum(x => x.Lunch),
                              Morning = g.Sum(x => x.Morning)
                          };
}

<h1>SubGroupsAllUsersMeals</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lunch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dinnar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morning)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var meal in groupByUsername)
        {
            <tr>
                <td>@meal.UserName</td>
                <td>@meal.Morning</td>
                <td>@meal.Dinnar</td>
                <td>@meal.Lunch</td>
            </tr>
        }
    </tbody>
</table>
