@model List<LocalMealManagement.ViewModel.SubGroupMonthlyViewModel>

@{
    var subGroupId = "";
    DateTime date = new DateTime(2020, 1, 1);
}


<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="~/js/MealDetails.js"></script>
<hr style="border:2px solid"/>
<div class="container card-deck ml-md-4">
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        subGroupId = Model[i].SubGroupId;
        date = Model[i].CurrentDay;
        <div class="row justify-content-center">
            <div class="col-auto mb-3">
                <div class="card shadow" style="width: 19rem; border-radius:30%">
                    <div class="card-header">
                        <h5 class="card-title" style="font-size:medium"><i class="fa fa-calendar mr-1" aria-hidden="true" title="Date"></i>@item.CurrentDay.ToLongDateString()</h5>
                    </div>
                    <div class="card-body">

                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="GroupAdministration" asp-action="AddMeals" asp-route-groupId="@ViewBag.groupId" asp-route-subGroupId="@item.SubGroupId" asp-route-date="@Model[i].CurrentDay.Date" class="card-link"><i class="fa fa-plus" aria-hidden="true" title="Add Meal"></i></a>
                        <a asp-controller="GroupAdministration" asp-action="UpdateMeals" asp-route-groupId="@ViewBag.groupId" asp-route-subGroupId="@item.SubGroupId" asp-route-date="@Model[i].CurrentDay.Date" class="card-link"><i class="fas fa-edit" title="Update Meal"></i></a>
                        @*<a asp-controller="GroupAdministration" asp-action="ShowMeal" asp-route-groupId="@ViewBag.groupId" asp-route-subGroupId="@item.SubGroupId" asp-route-date="@Model[i].CurrentDay.Date" class="card-link"><i class="fas fa-eye" title="Show meal"></i></a>*@
                        <a href="javascript:show('$@item.SubGroupId','$@ViewBag.groupId','$@Model[i].CurrentDay')" class="card-link"><i class="fas fa-eye" title="Show meal"></i></a>
                        <a asp-controller="GroupAdministration" asp-action="SubGroupsAllUsersMeals" asp-route-groupId="@ViewBag.groupId" asp-route-subGroupId="@item.SubGroupId" asp-route-date="@Model[i].CurrentDay.Date" class="card-link"><i class="fas fa-list" title="Meal List"></i></a>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="card" style="width:100%">
                <div class="card-header">
                    <h3>@item.CurrentDay</h3>
                    <h3>@item.SubGroupId</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="card-img-top" src="~/Images/massgroup.jpg" style="width:100px; height:100px" />
                        </div>
                        <div class="col-sm-6">
                            <h3>Alamin Hossain</h3>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <a asp-controller="GroupAdministration" asp-action="SpecificGroupTask" asp-route-groupId="@item.SubGroupId" class="btn btn-primary">ManageGroup</a>
                    <a asp-controller="ManageGroup" asp-action="AddMemberInGroup" asp-route-groupId="@item.SubGroupId" class="btn btn-primary">Add Member</a>
                    <a asp-controller="ManageGroup" asp-action="MembersInGroup" asp-route-groupId="@item.SubGroupId" class="btn btn-primary">Members</a>
                </div>
            </div>*@

    }
</div>

@*<button id="button" onmousedown="Down()" onmouseup="UP() ">Hello</button>

    <button id="button" onmousedown="getSelectionText()">Selected Text</button>



    <div id="demo" onmousedown="myFunction(event)">I am a student and I want to become a good person</div>


    <script>
        function myFunction(event) {
            const start = event.currentTarget.selectionStart;
            const end = event.currentTarget.selectionEnd;
            var x = document.getElementById("demo").textContent;
            var prev = x.substring(0, start - 1);
            var next = x.substring(end, x.length);
            var sub = x.substring(start, end);
            sub = sub.bold();
            document.getElementById("demo").textContent = prev + sub + next;
            x = prev + sub + next;
            alert(x);
        }
    </script>


    <script type="text/javascript">
        var longpress = false;
        function Call() {
            console.log("Hello I AM here");
        }
        $("button").on('click', function () {
            (longpress) ? alert("Long Press") : alert("Short Press");
        });

        var startTime, endTime;
        function Down() {
            startTime = new Date().getTime();
            console.log(startTime);
        };

        function UP() {
            endTime = new Date().getTime();
            longpress = (endTime - startTime < 2000) ? false : true;
            console.log(startTime, " ", endTime, " ", longpress);
        };

        function getSelectionText() {
            var text = "";
            if (window.getSelection) {
                text = window.getSelection().toString();
            } else if (document.selection && document.selection.type != "Control") {
                text = document.selection.createRange().text;
            }
            console.log(text);
            return text;
        }
    </script>*@